{% extends "base_auth.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block title %}Registreren{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card">

            <div class="card-body p-4">

                <div class="text-center w-75 m-auto">
                    <div class="auth-logo">
                        <a href="{{ url_for('main.index') }}" class="logo logo-dark text-center">
                            <span class="logo-lg">
                                <img src="{{ url_for('static', filename='assets/images/logo-dark.png') }}" alt="" height="22">
                            </span>
                        </a>

                        <a href="{{ url_for('main.index') }}" class="logo logo-light text-center">
                            <span class="logo-lg">
                                <img src="{{ url_for('static', filename='assets/images/logo-light.png') }}" alt="" height="22">
                            </span>
                        </a>
                    </div>
                    <p class="text-muted mb-4 mt-3">Nog geen account? Maak je eigen account aan, het duurt minder dan een minuut </p>
                </div>

                <form action="" method="post">
                    {{ form.csrf_token() }}

                    <div class="mb-2">
                        {{ render_field(form.email) }}
                    </div>

                    <div class="mb-2">
                        {{ render_field(form.username) }}
                    </div>

                    <div class="mb-2">
                        {{ render_field(form.password) }}
                    </div>

                    <div class="mb-2">
                        {{ render_field(form.password2) }}
                    </div>

                    <div class="mb-2">
                        {{ render_field(form.submit) }}
                    </div>

                </form>

            </div> <!-- end card-body -->
        </div>
        <!-- end card -->

        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="text-muted">Already have account? <a href="{{ url_for('auth.login') }}" class="text-primary fw--medium ms-1">Inloggen</a></p>
            </div> <!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- end col -->
</div>

{% endblock %}